/* Estilos gerais */
.chatPageContainer {
    display: flex;
    height: 100vh;
}

/* Estilos do contêiner de grupos e mensagens diretas */
.groupDmsContainer {
    flex: 1;
    /* Ajuste a proporção de acordo com suas preferências */
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* Adicione a barra de rolagem vertical quando necessário */
    max-height: none;
    /* Remova a altura máxima para permitir que ele cresça conforme necessário */
}

.groupDmsContainer h1 {
    margin-bottom: 2px;
}

.groupDmsContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 700px;
    /* Defina a altura máxima desejada */
    overflow-y: auto;
    /* Adicione a barra de rolagem vertical quando necessário */
}

.groupDmsContainer li {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 4px;
    background-color: #ddd;
    border-radius: 4px;
}

.groupDmsContainer li:hover {
    background-color: #ccc;
}

/* Estilos do contêiner de mensagens */
.chatContainer {
    flex: 3;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* Adicione a barra de rolagem vertical quando necessário */
    max-height: 800px;
    /* Defina a altura máxima desejada */
}

.chatContainer h1 {
    margin-bottom: 1px;
}

/* Estilos do contêiner de membros */
.membersContainer {
    flex: 1;
    /* Ajuste a proporção de acordo com suas preferências */
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* Adicione a barra de rolagem vertical quando necessário */
}

.membersContainer h1 {
    margin-bottom: 1px;
}

.membersContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.membersContainer li {
    padding: 3px;
    margin-bottom: 6px;
    background-color: #ddd;
    border-radius: 4px;
}

.membersContainer li:hover {
    background-color: #ccc;
}

/* Estilos do campo de entrada de mensagem */
.messageInputContainer {
    flex: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px;
    background-color: #f0f0f0;
}

.messageInputContainer form {
    display: flex;
    align-items: center;
}

.messageInputContainer input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.messageInputContainer button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.messageInputContainer button:hover {
    background-color: #0056b3;
}

/* Indicador de tipo de grupo */
.groupTypeIndicator {
    font-size: 12px;
    color: gray;
    margin-left: 5px;
}

/* Estilos específicos do formulário de criação de grupo */
.groupDmsContainer form {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groupDmsContainer input[type="text"],
.groupDmsContainer input[type="password"] {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.groupDmsContainer button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.groupDmsContainer button:hover {
    background-color: #0056b3;
}

/* Estilos para mensagens enviadas pelo usuário atual */
.messageSelf {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Estilos para mensagens enviadas por outros usuários */
.messageOther {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.homeButton {
    display: inline-block;
    padding: 4px 8px;
    margin: 5px 0 0 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-size: 12px;
}

.homeButton:hover {
    background-color: #45a049;
}

.kickButton {
    background-color: #ff0000;
    /* Cor de fundo */
    color: #ffffff;
    /* Cor do texto */
    border: none;
    /* Remover borda */
    padding: 3px 8px;
    /* Espaçamento interno reduzido */
    border-radius: 3px;
    /* Borda arredondada */
    cursor: pointer;
    /* Mostrar cursor de ponteiro ao passar o mouse */
    font-size: 12px;
    /* Tamanho da fonte reduzido */
}

.kickButton:hover {
    background-color: #cc0000;
    /* Alterar cor de fundo ao passar o mouse */
}

.adminMember {
    color: #ff0000;
    /* Cor do nome do administrador */
    font-weight: bold;
    /* Texto em negrito para administradores */
}

.banButton {
    background-color: #ff0000;
    /* Cor de fundo */
    color: #ffffff;
    /* Cor do texto */
    border: none;
    /* Remover borda */
    padding: 3px 8px;
    /* Espaçamento interno reduzido */
    border-radius: 3px;
    /* Borda arredondada */
    cursor: pointer;
    /* Mostrar cursor de ponteiro ao passar o mouse */
    margin-left: 8px;
    font-size: 12px;
    /* Tamanho da fonte reduzido */
}

.banButton:hover {
    background-color: #cc0000;
    /* Cor de fundo vermelha mais escura ao passar o mouse */
}

.unbanButton {
    padding: 1px 3px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.unbanButton:hover {
    background-color: #45a049;
}

.banPopup {
    /* Estilo do contêiner do pop-up */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banPopup input {
    /* Estilo do input de duração do banimento */
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.banPopup button {
    /* Estilo dos botões de confirmar e cancelar */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.banPopup button:hover {
    /* Efeito de hover nos botões */
    background-color: #0056b3;
}

.setAdminButton,
.unsetAdminButton {
    background-color: #4CAF50;
    /* Cor de fundo verde para "Set Admin" */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.unsetAdminButton {
    background-color: #f44336;
    /* Cor de fundo vermelha para "Unset Admin" */
}

.setAdminButton:hover,
.unsetAdminButton:hover {
    background-color: #45a049;
    /* Mudança de cor no hover */
}
