/* Estilos gerais */
.chatPageContainer {
    display: flex;
    height: 100vh;
}

/* Estilos do contêiner de grupos e mensagens diretas */
.groupDmsContainer {
    flex: 1;
    /* Ajuste a proporção de acordo com suas preferências */
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* Adicione a barra de rolagem vertical quando necessário */
    max-height: none;
    /* Remova a altura máxima para permitir que ele cresça conforme necessário */
}

.groupDmsContainer h1 {
    margin-bottom: 2px;
}

.groupDmsContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 700px;
    /* Defina a altura máxima desejada */
    overflow-y: auto;
    /* Adicione a barra de rolagem vertical quando necessário */
}

.groupDmsContainer li {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 4px;
    background-color: #ddd;
    border-radius: 4px;
}

.groupDmsContainer li:hover {
    background-color: #ccc;
}

/* Estilos do contêiner de mensagens */
.chatContainer {
    flex: 4;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* Adicione a barra de rolagem vertical quando necessário */
    max-height: 800px;
    /* Defina a altura máxima desejada */
}

.chatContainer h1 {
    margin-bottom: 1px;
}

/* Estilos do contêiner de membros */
.membersContainer {
    flex: 1;
    /* Ajuste a proporção de acordo com suas preferências */
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* Adicione a barra de rolagem vertical quando necessário */
}

.membersContainer h1 {
    margin-bottom: 1px;
}

.membersContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.membersContainer li {
    padding: 3px;
    margin-bottom: 6px;
    background-color: #ddd;
    border-radius: 4px;
}

.membersContainer li:hover {
    background-color: #ccc;
}

/* Estilos do campo de entrada de mensagem */
.messageInputContainer {
    flex: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px;
    background-color: #f0f0f0;
}

.messageInputContainer form {
    display: flex;
    align-items: center;
}

.messageInputContainer input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.messageInputContainer button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.messageInputContainer button:hover {
    background-color: #0056b3;
}

/* Indicador de tipo de grupo */
.groupTypeIndicator {
    font-size: 12px;
    color: gray;
    margin-left: 5px;
}

/* Estilos específicos do formulário de criação de grupo */
.groupDmsContainer form {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groupDmsContainer input[type="text"],
.groupDmsContainer input[type="password"] {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.groupDmsContainer button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.groupDmsContainer button:hover {
    background-color: #0056b3;
}

/* Estilos para mensagens enviadas pelo usuário atual */
.messageSelf {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Estilos para mensagens enviadas por outros usuários */
.messageOther {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.homeButton {
    display: inline-block;
    padding: 4px 8px;
    margin: 5px 0 0 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-size: 12px;
}

.homeButton:hover {
    background-color: #45a049;
}
